.home{
    color: white;
}


:root {
  --color-black: #141414;
  --color-pixie-powder: #28148c;
  --color-persian-indigo: #281478;
  --color-turquoise: #50f0dc;
  --color-deep-violet: #281464;
  --color-eerie-black: #141428;
}
